:root {
  --main-bg-color: #4b49b4;
  --main-text-color: #ccff00;
  --font-family: "Unbounded", sans-serif;
}

body,
header,
h1,
h2,
p,
input {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  padding: 0.5rem;
  margin-bottom: 2rem;
  color: var(--main-text-color);
  font-family: var(--font-family);
  line-height: 2.5rem;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: var(--main-text-color);
  font-family: var(--font-family);
  text-transform: uppercase;
}

h4 {
  font-family: "Merriweather", serif;
}

ul {
  padding-inline-start: 0;
  font-family: "Merriweather", serif;
  list-style-type: none;
}

li {
  color: var(--main-text-color);
  padding: 0.5rem 0;
  text-decoration: underline;
  line-height: 1.5rem;
}

main {
  margin: 5rem;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  left: 0;
  transition: all 0.25s ease-out;
}

hgroup {
  transition: left 0.25s width 0.25s ease-out;
}

.main-show-edit {
  left: 75px;
  width: 80%;
}

.container {
  border-top: 5px solid var(--main-text-color);
  display: flex;
  flex-direction: column;
}

.work-type {
  border-top: 5px solid var(--main-text-color);
  width: 50%;
  margin-top: 5rem;
}

.work-type:first-of-type {
  margin-right: 5rem;
}

.work-list {
  display: flex;
}

.work-details {
  margin-top: 5rem;
  border-top: 5px solid var(--main-text-color);
}

.edit-button {
  width: 4rem;
  border-radius: 0 45% 45% 0;
  border: none;
  font-size: 3rem;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  position: fixed;
  left: 0;
  bottom: 5rem;
  padding: 0 0 5px 0;
  transition: all 0.25s ease-out;
}

.edit-button:hover {
  cursor: pointer;
}

.editing {
  left: 75px;
}

.button {
  background-color: #ffffff55;
  border: none;
  border-radius: 8px;
  transition: all 0.25s ease-out;
}

.button:hover {
  background-color: #ffffff90;
  cursor: pointer;
}

.button:active {
  background-color: var(--main-text-color);
}

.invert-button {
  font-size: 24px;
  padding: 0 12px;
  height: 25px;
  line-height: 18px;
  color: #fff;
}

.text-button {
  padding: 8px 10px;
  margin: 5px;
}

.edit-menu {
  width: 75px;
  background-color: #4b4b4bc9;
  height: 100vh;
  position: fixed;
  left: -75px;
  text-align: center;
  transition: all 0.25s ease-out;
}

div.show-edit {
  left: 0;
}

.edit-section {
  padding: 1rem 0;
  border-bottom: 1px solid #ffffff55;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-label {
  color: #ffffff95;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.color-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0.5rem 0;
}

.color-theme {
  display: flex;
  margin: 0.5rem 0;
  border-radius: 11px;
  border: 3px solid #ffffffc2;
}

.color-theme:hover {
  cursor: pointer;
  border-color: #ffffffd5;
}

.color-theme:active {
  border-color: var(--main-text-color);
}

.color-theme-left,
.color-theme-right {
  width: 20px;
  height: 20px;
}

.color-theme-left {
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.color-theme-right {
  border-radius: 0 8px 8px 0;
}

input[type="color"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #ffffffc2;
}

input[type="color"]::-webkit-color-swatch:hover {
  border-color: #fff;
}

input[type="color"]::-moz-color-swatch {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #ffffffc2;
}

input[type="color"]::-moz-color-swatch:hover {
  border-color: #fff;
}

.background {
  position: relative;
  left: -10px;
  top: 5px;
}

.foreground {
  position: relative;
  margin: 0;
  left: 10px;
  top: -10px;
}
