:root {
  --main-bg-color: #4b49b4;
  --main-text-color: #ccff00;
  --font-family: "Unbounded", sans-serif;
}

body,
header,
h1,
h2,
p,
input {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--main-text-color);
  font-family: var(--font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  padding: 0.5rem;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

h1 {
  font-size: 2.3rem;
  padding-top: 1rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

h4,
ul,
p,
a {
  color: var(--main-text-color);
  font-family: "Merriweather", serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  max-width: 30rem;
  line-height: 1.6rem;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

li {
  color: var(--main-text-color);
  padding: 0.5rem 0;
  line-height: 1.5rem;
}

summary {
  text-decoration: underline;
}

main {
  margin: 5rem;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  position: relative;
  left: 0;
  transition: all 0.25s ease-out;
}

hgroup {
  transition: left 0.25s ease-out;
  border-top: 5px solid var(--main-text-color);
  display: flex;
  flex-direction: column;
}

dialog {
  width: 90%;
  height: 90%;
}

dialog h2 {
  color: #000;
}

figcaption {
  font-style: italic;
  font-size: 0.8rem;
}

.main-show-edit {
  left: 75px;
  width: 80%;
}

/* WORK SECTION STYLES */
.work-list {
  display: flex;
}

.work-type {
  border-top: 5px solid var(--main-text-color);
  width: 50%;
  margin-top: 5rem;
}

.work-type:first-of-type {
  margin-right: 5rem;
}

.work-details {
  margin-top: 5rem;
  border-top: 5px solid var(--main-text-color);
}

.project-detail {
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: var(--main-text-color);
  padding: 1.3rem;
  max-width: 40rem;
}

.project-text {
  color: var(--main-bg-color);
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-left: 1rem;
  font-weight: 400;
}

.project-text a {
  color: var(--main-bg-color);
}

.project-text a:hover {
  background-color: color-mix(in srgb, var(--main-bg-color) 20%, transparent);
  transition: all 0.25s ease-out;
}

.project-links {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: 400;
  display: flex;
}

a.project-link {
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

a.project-link:hover {
  background-color: color-mix(in srgb, var(--main-bg-color) 20%, transparent);
  transition: all 0.25s ease-out;
}

.project-link svg {
  fill: var(--main-bg-color);
  margin-right: 0.3rem;
}

@media (max-width: 1000px) {
  .main-show-edit {
    width: 70%;
  }
  .work-list {
    flex-direction: column;
  }
  .work-type {
    width: 100%;
  }
  .project-text {
    margin-left: 1.5rem;
  }
}

.flex {
  display: flex;
  align-items: flex-start;
}

.flex img {
  width: 7rem;
}

/* EDIT BUTTON STYLES */
.hide-edit {
  display: none;
}

.edit-button {
  width: 4rem;
  border-radius: 0 45% 45% 0;
  border: none;
  font-size: 3rem;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  position: fixed;
  left: 0;
  bottom: 5rem;
  padding: 0 0 5px 0;
  transition: all 0.25s ease-out;
}

.edit-button:hover {
  cursor: pointer;
}

.editing {
  left: 75px;
}

.button {
  background-color: #ffffff55;
  border: none;
  border-radius: 8px;
  transition: all 0.25s ease-out;
}

.button:hover {
  background-color: #ffffff90;
  cursor: pointer;
}

.button:active {
  background-color: var(--main-text-color);
}

.invert-button {
  font-size: 24px;
  padding: 0 12px;
  height: 25px;
  line-height: 18px;
  color: #fff;
}

.text-button {
  padding: 8px 10px;
  margin: 5px;
}

/* EDIT MENU STYLES */
.edit-menu {
  width: 75px;
  background-color: #4b4b4bc9;
  height: 100vh;
  position: fixed;
  left: -75px;
  text-align: center;
  transition: all 0.25s ease-out;
}

div.show-edit {
  left: 0;
}

.edit-section {
  padding: 1rem 0;
  border-bottom: 1px solid #ffffff55;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-label {
  color: #ffffff95;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

/* COLOR THEME STYLES */
.color-theme {
  display: flex;
  margin: 0.5rem 0;
  border-radius: 11px;
  border: 3px solid #ffffffc2;
}

.color-theme:hover {
  cursor: pointer;
  border-color: #ffffffd5;
}

.color-theme:active {
  border-color: var(--main-text-color);
}

.color-theme-left,
.color-theme-right {
  width: 20px;
  height: 20px;
}

.color-theme-left {
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.color-theme-right {
  border-radius: 0 8px 8px 0;
}

/* COLOR PICKER STYLES */
input[type="color"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #ffffffc2;
}

input[type="color"]::-webkit-color-swatch:hover {
  border-color: #fff;
}

input[type="color"]::-moz-color-swatch {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #ffffffc2;
}

input[type="color"]::-moz-color-swatch:hover {
  border-color: #fff;
}

.background {
  position: relative;
  left: -10px;
  top: 5px;
}

.foreground {
  position: relative;
  margin: 0;
  left: 10px;
  top: -10px;
}

.links {
  margin-top: 3rem;
  border-top: 5px solid var(--main-text-color);
  margin-bottom: 3rem;
}

.links-content {
  display: flex;
}

.single-link {
  margin-right: 1.5rem;
  display: flex;
}

.svg {
  fill: var(--main-text-color);
  margin-right: 0.5rem;
}
