:root {
  --main-bg-color: #4b49b4;
  --main-text-color: #ccff00;
  --font-family: "Marcellus", sans-serif;
}

body,
header,
h1,
h2,
p,
input {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  transition: all 0.25s ease-out;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1,
h2 {
  padding: 0.5rem;
  margin-bottom: 2rem;
  color: var(--main-text-color);
  font-family: var(--font-family);
}

h1 {
  font-size: 2.3rem;
  border-top: 5px solid var(--main-text-color);
  width: 50%;
}

h2 {
  font-size: 2.3rem;
}

main {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.content {
  padding-top: 5rem;
  height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: relative;
  left: 0;
  transition: left 0.25s ease-out;
}

.content-show-edit {
  left: 75px;
}

.edit-button {
  width: 4rem;
  border-radius: 0 45% 45% 0;
  border: none;
  font-size: 3rem;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  position: absolute;
  left: 0;
  bottom: 10rem;
  padding: 0 0 5px 0;
  transition: all 0.25s ease-out;
}

.edit-menu {
  width: 75px;
  background-color: #4f390ba6;
  height: 100vh;
  position: fixed;
  left: -75px;
  text-align: center;
  transition: all 0.25s ease-out;
}

div.show-edit {
  left: 0;
}

.edit-section {
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.color-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0.5rem 0;
}

.color-theme {
  display: flex;
  border: 2px solid #fff;
  margin: 0.5rem 0;
}

.color-theme-left,
.color-theme-right {
  width: 24px;
  height: 20px;
}

.color-theme-left {
  border-right: 2px solid #fff;
}

input[type="color"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #fff;
}

input[type="color"]::-moz-color-swatch {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #fff;
}

.background {
  position: relative;
  left: -10px;
  top: 5px;
}

.foreground {
  position: relative;
  margin: 0;
  left: 10px;
  top: -10px;
}
